* {
    box-sizing: border-box; 
}

h1 {
    text-align: center;
    color: brown;
}


h2 {
text-transform: uppercase;
font-weight: unset;
}

/* 
#list {
text-align: center;
color: red;

} */

.boa {
font-style: italic;
}

.answer {

    font-style: italic;
}

.hat {

font-style: italic;
}



.many {

font-style: italic;
}


.question {

color: red;
text-align: center;
font-style: italic;
font-weight: bold;
text-decoration: underline;
}

.draw{
color: green;
text-align: right;
font-style: italic;
text-transform: capitalize;
text-decoration: line-through;
}


.matter {

    font-style: italic;
    color: aqua;

}

.no {
color: blue;
font-weight: bold;
text-decoration: underline;

}


.ship{

    font-size: 50px;
    text-transform: uppercase;
    text-decoration: line-through;
    color: orange;
}


.sheep {
text-decoration: line-through;


}


.box {
display: inline-block;   
width: 300px;
height: 300px;
background-color: green;
padding: 20px;
/* border-width: 3px;
border-style: solid;
border-color: black; */

border: 3px solid black;
margin: 20px;
/* display: inline; */
} 